body {
  background-color: #ffffff;
  color: #666666;
  font-family: Verdana;
  background: linear-gradient(#eeeeee, #ffffff);
  margin: 0px;
  background-attachment: fixed;
}

header {
  background-color: #ba1c21;
  color: #ffffff;
  font-family: Georgia;
  grid-row: 1 /2;
  grid-column: 2 / -2;
}
header a {
  color: #ffffff;
}

h1 {
  line-height: 240%;
  background-image: url("./images/dsu.jpg");
  background-position: right;
  background-repeat: no-repeat;
  padding: 0;
  padding-left: 0.5rem;
  height: 72px;
  margin: 0;
}
h1 a {
  text-decoration: none;
}

nav {
  font-weight: bold;
  background-color: none;
  position: sticky;
  top: 0;

  grid-row: 2 / 3;
  grid-column: 2 / -2;
}
nav a {
  color: #ffffff;
  padding: 1rem 0rem;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #424242;
  transition: ease-out 0.5s;
}
nav a:hover {
  background-color: #ba1c21;
}

h2 {
  color: #424242;
  font-family: georgia;
}
nav ul {
  list-style: none;
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  display: flex;
  flex-flow: row nowrap;
}
nav ul li {
  width: 100%;
}
dt {
  color: #ba1c21;
  font-weight: bold;
}
.dsu {
  color: #ba1c21;
  font-size: 1.2em;
}
table {
  margin: 0 auto;
  border: 1px solid #424242;
  width: 100%;
  border-collapse: collapse;
}
td {
  padding: 5px;
  border: 1px solid #424242;
  text-align: center;
}
th {
  padding: 5px;
  border: 1px solid #424242;
  background-color: #ffffff;
}
tr:nth-of-type(2n + 1) {
  background-color: #f3f3f3;
}
.text {
  text-align: left !important;
}
footer {
  background-color: #ffffff;
  grid-row: 5 / 6;
  grid-column: 2 / -2;
  font-size: 0.7em;
  font-style: italic;
  text-align: center;
  padding: 1em;
}
#wrapper {
  display: grid;
  grid-auto-rows: minmax(0px, auto);
  grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 175px)) minmax(
      0px,
      1fr
    );
}
#redbar {
  background-color: #ba1c21;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
}
#greybar {
  background-color: #424242;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}
#homehero {
  background-image: url("./images/homehero.jpg");
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#studenthero {
  background-image: url("./images/studenthero.jpg");
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#facultyhero {
  background-image: url("./images/facultyhero.jpg");
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#alumnihero {
  background-image: url("./images/alumnihero.jpg");
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#shophero {
  background-image: url("./images/shophero.jpg");
  grid-row: 3 / 4;
  grid-column: 1 / -1;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h3 {
  color: #ba1c21;
}
main {
  background-color: #ffffff;
  grid-row: 4 / 5;
  grid-column: 2 / -2;
  padding-bottom: 1px;
  padding-top: 1px;
  padding-left: 2em;
  padding-right: 2em;
  display: block;
}
* {
  box-sizing: border-box;
}
section {
  float: left;
  width: 33%;
  padding-right: 1rem;
}
#clear {
  clear: both;
}
@media only screen and (max-width: 1100px) {
  #wrapper {
    background-color: #424242;
    display: grid;
    grid-auto-rows: minmax(0px, auto);
    grid-template-columns: minmax(0px, 1fr) repeat(6, minmax(0, 150px)) minmax(
        0px,
        1fr
      );
  }
}
@media only screen and (max-width: 900px) {
  nav {
    font-weight: bold;
    background-color: none;
    position: sticky;
    top: 0;
    background-color: #424242;
    grid-row: 2 / 3;
    grid-column: 1 / 5;
  }
  nav ul {
    list-style: none;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 0px;
    display: flex;
    flex-flow: column nowrap;
  }
  #homehero {
    background-image: url("./images/homehero.jpg");
    grid-row: 2 / 3;
    grid-column: 5 / 8;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #studenthero {
    background-image: url("./images/studenthero.jpg");
    grid-row: 2 / 3;
    grid-column: 5 / 8;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #facultyhero {
    background-image: url("./images/facultyhero.jpg");
    grid-row: 2 / 3;
    grid-column: 5 / 8;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #alumnihero {
    background-image: url("./images/alumnihero.jpg");
    grid-row: 2 / 3;
    grid-column: 5 / 8;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  #shophero {
    background-image: url("./images/shophero.jpg");
    grid-row: 2 / 3;
    grid-column: 5 / 8;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  video {
    float: none;
    margin: 0;
    width: 100%;
    height: auto;
  }
}
section {
  float: none;
  width: 100%;
  padding-right: 0px;
}
@media only screen and (max-width: 600px) {
  h1 {
    background-image: none;
    text-align: center;
  }
  nav {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }
  #homehero {
    display: none;
  }
  #studenthero {
    display: none;
  }
  #facultyhero {
    display: none;
  }
  #alumnihero {
    display: none;
  }
  #shophero {
    display: none;
  }
}

form {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 200px 1fr;
  gap: 0.75rem;
  width: 100%;
}
input {
  font-size: 1rem;
  padding: 10px;
  color: #666666;
  background-color: #fafafa;
  border: none;
}
text {
  font-size: 1rem;
  padding: 10px;
  color: #666666;
  background-color: #fafafa;
  border: none;
}
input:focus {
  outline: none;
  background-color: #f0f0f0;
}
textarea:focus {
  outline: none;
  background-color: #f0f0f0;
}
.myComments {
  border: none;
}
label {
  padding: 10px;
  text-align: right;
}
#mySubmit {
  width: 10rem;
  grid-column: 2 / 3;
}
video {
  float: right;
  margin-left: 2em;
}
